.task-card {
  width: calc(100% - 1rem);
  border-radius: $base-border-radius;
  @include tablet() {
    width: 100%;
  }

  background-color: var(--taskcard-bg);
  cursor: pointer;

  h4 {
    font-size: $font-sm-2;
    color: var(--text-primary);
  }

  p {
    color: var(--text-secondary);
    font-size: $font-sm;
    line-height: $line-height-wide;
  }
}
