.checkbox-container {
  background-color: var(--subtask-bg);
  border-radius: $base-border-radius;
  transition: all 0.2s ease;

  &:hover {
    background-color: var(--subtask-bg-hover);
    color: var(--subtask-text-hover);
  }
}

.checkbox-icon {
  position: absolute;
  pointer-events: none;
  user-select: none;
}

.checkbox-container * {
  box-sizing: border-box;
}

.checkbox-input {
  position: absolute;
  visibility: hidden;
}

.checkbox {
  user-select: none;
  cursor: pointer;
  padding: 6px 8px;
  border-radius: 6px;
  overflow: hidden;
  transition: all 0.3s ease;
  display: flex;
}

.checkbox:not(:last-child) {
  margin-right: 6px;
}

.checkbox span {
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}

.checkbox span:first-child {
  position: relative;
  flex: 0 0 18px;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  transform: scale(1);
  border: 1px solid var(--subtask-checkbox-border);
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--subtask-checkbox-bg);
}

.checkbox span:first-child svg {
  fill: none;
  stroke: $white;
  display: none;
  transition: all 0.3s ease;
  transform: translate3d(0, 0, 0);
}

.checkbox span:last-child {
  padding-left: 8px;
  line-height: 18px;
  color: var(--text-primary);
  font-size: $font-xs;
}

.checkbox-container span:last-child.completed-linethrough {
  color: $grey;
  text-decoration: line-through;
  transition: color 0.2s ease;

  &:hover {
    color: var(--subtask-text-hover);
  }
}

.checkbox-input:checked + .checkbox span:first-child {
  background: $purple-dark;
  border-color: $purple-dark;
  animation: zoom-in-out 0.3s ease;
}

.checkbox-input:checked + .checkbox span:first-child svg {
  display: block;
}

@keyframes zoom-in-out {
  50% {
    transform: scale(0.5);
  }
}
