.sidebar {
  position: fixed;
  bottom: 0;
  left: 0;
  top: 79px;
  width: 300px;
  background-color: var(--sidebar-header-bg);
  min-height: calc(100vh - 79px);
  color: $grey;
  transition: transform 1s cubic-bezier(0.01, 0.86, 0.165, 1);
  transition-delay: 0.1s;
  transform: translateX(-200%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top: 1px solid var(--line-color);
  z-index: 5;

  &.show {
    transform: translateX(0);
  }

  h2 {
    font-size: $font-header-sm;
    font-weight: $font-weight-reg;
    letter-spacing: 2.4px;
    text-transform: uppercase;
  }

  ul {
    font-size: $font-sm;

    button {
      border-radius: 20px;
      padding: 5px 15px;
    }

    li {
      transition: background-color 0.3s ease-in-out;
      width: 93%;
      border-radius: 0 100px 100px 0;
      &.active {
        color: $white;
        fill: $white;
        background-color: var(--btn-primary-bg);

        transition: all 0.3s ease-in-out;

        & > button > svg > path {
          fill: $white;
        }
      }
      &:hover:not(.active) {
        background-color: var(--sidebar-btn-bg-hover);
        color: var(--sidebar-btn-color-hover);

        & > button > svg > path {
          fill: var(--sidebar-btn-color-hover);
        }
      }
    }
  }
}

.logo.logo-dark > g > path {
  fill: $white;
}

.add-board {
  color: $purple-light;

  & > button > svg > path {
    fill: $purple-light;
  }
}

.sidebar__items {
  button:not(ul button) {
    font-size: $font-sm;
  }

  .create-board {
    color: $purple-dark;

    svg path {
      fill: $purple-dark;
    }
  }
}
.sidebar-btn {
  transition: background-color 0.3s ease-in-out;
  width: 85%;
  border-radius: 0 100px 100px 0;

  &:hover {
    background-color: var(--sidebar-btn-bg-hover);
    color: var(--sidebar-btn-color-hover);
  }
}
