$utilities: (
  "padding": (
    "prefix": "p",
    "values": (
      "0": 0,
      "1": $base-padding,
      "2": $base-padding * 1.25,
      "3": $base-padding * 1.5,
      "4": $base-padding * 1.75,
      "5": $base-padding * 2,
      "6": $base-padding * 2.25,
      "7": $base-padding * 2.5,
      "8": $base-padding * 2.75,
      "9": $base-padding * 3,
      "10": $base-padding * 4,
    ),
  ),
  "padding-left": (
    "prefix": "pl",
    "values": (
      "0": 0,
      "1": $base-padding,
      "2": $base-padding * 1.25,
      "3": $base-padding * 1.5,
      "4": $base-padding * 1.75,
      "5": $base-padding * 2,
      "6": $base-padding * 2.25,
      "7": $base-padding * 2.5,
      "8": $base-padding * 2.75,
      "9": $base-padding * 3,
      "10": $base-padding * 4,
    ),
  ),
  "padding-right": (
    "prefix": "pr",
    "values": (
      "0": 0,
      "1": $base-padding,
      "2": $base-padding * 1.25,
      "3": $base-padding * 1.5,
      "4": $base-padding * 1.75,
      "5": $base-padding * 2,
      "6": $base-padding * 2.25,
      "7": $base-padding * 2.5,
      "8": $base-padding * 2.75,
      "9": $base-padding * 3,
      "10": $base-padding * 4,
    ),
  ),
  "padding-top": (
    "prefix": "pt",
    "values": (
      "0": 0,
      "1": $base-padding,
      "2": $base-padding * 1.25,
      "3": $base-padding * 1.5,
      "4": $base-padding * 1.75,
      "5": $base-padding * 2,
      "6": $base-padding * 2.25,
      "7": $base-padding * 2.5,
      "8": $base-padding * 2.75,
      "9": $base-padding * 3,
      "10": $base-padding * 4,
    ),
  ),
  "padding-bottom": (
    "prefix": "pb",
    "values": (
      "0": 0,
      "1": $base-padding,
      "2": $base-padding * 1.25,
      "3": $base-padding * 1.5,
      "4": $base-padding * 1.75,
      "5": $base-padding * 2,
      "6": $base-padding * 2.25,
      "7": $base-padding * 2.5,
      "8": $base-padding * 2.75,
      "9": $base-padding * 3,
      "10": $base-padding * 4,
    ),
  ),
  "margin": (
    "prefix": "m",
    "values": (
      "0": 0,
      "1": $base-margin,
      "2": $base-margin * 2,
      "3": $base-margin * 4,
      "4": $base-margin * 6,
      "5": $base-margin * 8,
    ),
  ),
  "margin-left": (
    "prefix": "ml",
    "values": (
      "0": 0,
      "1": $base-margin,
      "2": $base-margin * 2,
      "3": $base-margin * 4,
      "4": $base-margin * 6,
      "5": $base-margin * 8,
    ),
  ),
  "margin-right": (
    "prefix": "mr",
    "values": (
      "0": 0,
      "1": $base-margin,
      "2": $base-margin * 2,
      "3": $base-margin * 4,
      "4": $base-margin * 6,
      "5": $base-margin * 8,
    ),
  ),
  "margin-top": (
    "prefix": "mt",
    "values": (
      "0": 0,
      "1": $base-margin,
      "2": $base-margin * 2,
      "3": $base-margin * 4,
      "4": $base-margin * 6,
      "5": $base-margin * 8,
    ),
  ),
  "margin-bottom": (
    "prefix": "mb",
    "values": (
      "0": 0,
      "1": $base-margin,
      "2": $base-margin * 2,
      "3": $base-margin * 4,
      "4": $base-margin * 6,
      "5": $base-margin * 8,
    ),
  ),
);

@each $property, $map in $utilities {
  $prefix: map-get($map, "prefix");
  $values: map-get($map, "values");

  @each $k, $v in $values {
    @if ($k == "default") {
      .#{$prefix} {
        #{$property}: $v;
      }
    } @else {
      .#{$prefix}-#{$k} {
        #{$property}: $v;
      }
    }
  }
}
