// Colors
$purple-dark: #635fc7;
$purple-light: #a8a4ff;
$dark-1: #000112;
$dark-2: #20212c;
$dark-3: #2b2c37;
$dark-4: #3e3f4e;
$grey: #828fa3;
$light-greyblue-1: #e4ebfa;
$light-greyblue-2: #f4f7fd;
$white: #ffffff;
$red-1: #ea5555;
$red-2: #ff9898;

// Spacing
$base-padding: 0.5rem;
$base-margin: 0.5rem;

// Font Sizes
$font-header-sm: 0.8rem;
$font-header-md: 0.9rem;
$font-header-lg: 1.125rem;
$font-header-xl: 1.5rem;

$font-sm: 0.8rem;
$font-sm-2: 0.9rem;

// Font Weights
$font-weight-reg: normal;
$font-weight-bold: bold;

// Line Heights
$line-height-wide: 2.3;
$line-height-narrow: 1.5;
