// Colors
.theme-dark {
  --btn-primary-bg: rgba(99, 95, 199, 1);
  --btn-primary-bg-hover: #8a84ff;
  --btn-primary-color: rgba(255, 255, 255, 1);
  --btn-secondary-bg: #fff;
  --btn-secondary-color: rgba(99, 95, 199, 1);
  --sidebar-btn-bg-hover: #fff;
  --sidebar-btn-color-hover: #635fc7;
  --text-primary: #fff;
  --text-secondary: #828fa3;
  --text-destructive: #ea5555;
  --text-destructive-hover: #ff9898;
  --btn-destructive-bg: #ea5555;
  --btn-destructive-bg-hover: #ff9898;
  --btn-destructive-color: #fff;
  --btn-cancel-bg: #fff;
  --btn-cancel-bg-hover: #fff;
  --btn-cancel-color: rgba(99, 95, 199, 1);
  --taskcard-bg: #2b2c37;
  --tooltip-bg: #2b2c37;
  --modal-bg: #2b2c37;
  --subtask-bg: #20212c;
  --subtask-bg-hover: #625fc753;
  --subtask-checkbox-bg: #2b2c37;
  --subtask-checkbox-border: #828fa349;
  --subtask-text-hover: #fff;
  --status-dropdown-bg: #20212c;
  --sidebar-header-bg: #2b2c37;
  --themeswitch-bg: #20212c;
  --line-color: #3e3f4e;
  --label-color: #fff;
}

.theme-light {
  --btn-primary-bg: rgba(99, 95, 199, 1);
  --btn-primary-bg-hover: #8a84ff;
  --btn-primary-color: rgba(255, 255, 255, 1);
  --btn-secondary-bg: #625fc74a;
  --btn-secondary-color: rgba(99, 95, 199, 1);
  --btn-destructive-bg: #ea5555;
  --btn-destructive-bg-hover: #ff9898;
  --btn-destructive-color: #fff;
  --sidebar-btn-bg-hover: #625fc74a;
  --sidebar-btn-color-hover: #635fc7;
  --btn-cancel-bg: #625fc747;
  --btn-cancel-bg-hover: rgba(168, 164, 255, 1);
  --btn-cancel-color: rgba(99, 95, 199, 1);
  --text-primary: #000112;
  --text-primary-hover: #625fc760;
  --text-secondary: #828fa3;
  --text-destructive: #ea5555;
  --text-destructive-hover: #ff9898;

  --taskboard-bg: #f4f7fd;
  --taskcard-bg: #fff;
  --tooltip-bg: #fff;
  --modal-bg: #fff;
  --subtask-bg: #f4f7fd;
  --subtask-bg-hover: #625fc760;
  --subtask-checkbox-bg: #fff;
  --subtask-checkbox-border: #828fa349;
  --subtask-text-hover: #000112;
  --status-dropdown-bg: #fff;
  --sidebar-header-bg: #fff;
  --themeswitch-bg: #f4f7fd;
  --line-color: #e4ebfa;
  --label-color: #828fa3;
}

$purple-dark: #635fc7; // btn-primary
$purple-light: #a8a4ff; // btn-primary-hover
$logo-text: #000112; // text-color
$dark-2: #20212c; // foreground-1
$dark-3: #2b2c37; // foreground-2
$dark-4: #3e3f4e; // foreground-3
$grey: #828fa3; //
$light-greyblue-1: #e4ebfa;
$light-greyblue-2: #f4f7fd;
$white: #ffffff;
$red-1: #ea5555;
$red-2: #ff9898;

// Spacing
$base-padding: 0.5rem;
$base-margin: 0.5rem;

// Font Sizes

$font-header-sm: 0.8rem;
$font-header-md: 0.9rem;
$font-header-lg: 1.125rem;
$font-header-xl: 1.5rem;

$font-xs: 0.75rem;
$font-sm: 0.8rem;
$font-sm-2: 0.8125rem;
$font-sm-3: 0.9rem;
$font-reg: 1rem;
$font-reg-2: 1.1rem;

// Font Weights
$font-weight-light: 300;
$font-weight-reg: 400;
$font-weight-bold: bold;

// Line Heights
$line-height-wide: 2.3;
$line-height-narrow: 1.5;

// Stroke Color
$stroke-dark-grey: #3e3f4e;

// Letter Spacing
$kerning-24: 2.4px;

// Borders
$base-border-radius: 4px;

// Box Shadow
$base-box-shadow: 4px 10px 10px rgba(0, 0, 0, 0.3);
