// Colors
$purple-dark: #635fc7;
$purple-light: #a8a4ff;
$dark-1: #000112;
$dark-2: #20212c;
$dark-3: #2b2c37;
$dark-4: #3e3f4e;
$grey: #828fa3;
$light-greyblue-1: #e4ebfa;
$light-greyblue-2: #f4f7fd;
$white: #ffffff;
$red-1: #ea5555;
$red-2: #ff9898;
