.column {
  flex-basis: 280px;
  flex-grow: 0;
  flex-shrink: 0;
  h3 {
    color: $grey;
    font-weight: $font-weight-reg;
    letter-spacing: $kerning-24;
    text-transform: uppercase;
    font-size: $font-sm;
  }
}
