.delete-modal {
  width: 100%;
  max-width: 350px;
  background-color: var(--modal-bg);
  border-radius: $base-border-radius;

  @include tablet() {
    max-width: 520px;
  }

  p {
    color: $grey;
    font-size: $font-sm-2;
    line-height: 23px;
  }

  .action-btn-container {
    display: flex;
  }

  h5 {
    color: var(--text-destructive);
    font-size: $font-header-lg;
  }

  .confirm-delete-btn {
    width: 100%;
    text-align: center;
    background-color: var(--btn-destructive-bg);
    color: var(--btn-destructive-color);
    font-size: $font-sm-2;
    border-radius: 100px;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: var(--btn-destructive-bg-hover);
    }
  }

  .cancel-delete-btn {
    width: 100%;
    text-align: center;
    background-color: var(--btn-cancel-bg);
    color: var(--btn-cancel-color);
    font-size: $font-sm-2;
    border-radius: 100px;
    transition: background-color 0.3s ease-in-out;
  }
}
