.header {
  background-color: var(--sidebar-header-bg);
  height: 80px;
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  min-width: 100vw;
  z-index: 5;

  .logo-container {
    height: 100%;

    @include tablet() {
      width: 300px;
      border-right: 1px solid var(--line-color);
    }
  }

  .heading {
    display: flex;
    align-items: center;
  }

  .header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-primary);
    flex: 1 0 0;
    font-weight: $font-weight-light;
    min-width: calc(100% - 300px);
    border-bottom: 1px solid var(--line-color);

    h2 {
      font-size: 1rem;
    }

    @include tablet() {
      font-size: $font-header-sm;
    }

    .header__content--btns {
      display: flex;
      align-items: center;
    }
  }

  .add-task-btn {
    height: 20px;
    width: 50px;
    padding: 0.2875rem 0.1rem;
    margin-right: 0.5rem;
    text-align: center;
    background-color: var(--btn-primary-bg);
    color: var(--btn-primary-color);
    font-size: $font-sm-2;
    font-weight: $font-weight-reg;
    transition: background-color 0.3s ease-in-out;
    border-radius: 100px;
    &:hover {
      background-color: var(--btn-primary-bg-hover);
    }

    @include tablet() {
      height: inherit;
      width: inherit;
      padding: 0.875rem;
      margin-right: 1rem;

      span {
        margin-right: 0.5rem;
        border-radius: 100px;
      }
    }
  }
}
