.header {
  background-color: $dark-3;
  height: 80px;

  .logo-container {
    width: 300px;
    border-right: 1px solid $stroke-dark-grey;
    height: 100%;
  }

  div:not(.logo-container) {
    border-bottom: 1px solid $stroke-dark-grey;
  }
}
