.subtask-input__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subtask-label,
input {
  position: relative;
  width: 100%;
}

.subtask-label {
  display: flex;
  align-items: center;
}

.title-label {
  position: relative;
  input {
    width: 100%;
  }
}

.subtask-label.error::after,
.title-label.error::after {
  position: absolute;
  content: "Can't be empty";
  right: 7px;
  margin: auto 0;
  font-size: $font-sm-2;
  font-weight: $font-weight-light;
  color: $red-1;
  display: block;
}

.title-label.error::after {
  top: 50%;
}

.subtask-label.error input,
.title-label.error input {
  border: 1px solid $red-1;
  border-radius: $base-border-radius;
}
