@mixin primary-btn($bg-color, $color) {
  width: 100%;
  text-align: center;
  background-color: $bg-color;
  color: $color;
  font-size: $font-sm-2;
  border-radius: 100px;
}

.tooltip-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  &:focus {
    border: 1px solid $purple-dark;
  }
}
