@mixin primary-btn() {
  width: 100%;
  text-align: center;
  background-color: var(--btn-primary-bg);
  color: var(--text-primary);
  font-size: $font-sm-2;
  border-radius: 100px;
}

.tooltip-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  &:focus {
    border: 1px solid $purple-dark;
  }
}
