.modal {
  background-color: var(--modal-bg);
  width: 100%;
  max-width: 550px;
  border-radius: $base-border-radius;
  margin: 1rem;
  height: fit-content;
  position: relative;
  height: 450px;
  overflow: auto;

  .modal-header:is(.view-task) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .modal-header {
    h5 {
      color: var(--text-primary);
      font-size: $font-header-lg;
    }
  }

  .modal-content {
    color: var(--text-secondary);
    margin: $base-margin 0;

    p {
      font-size: $font-sm-2;
      line-height: $line-height-wide;
    }
  }
}

.modal-form {
  input,
  textarea {
    display: block;
    width: 100%;
    background: transparent;
    border: 1px solid #828fa346;
    border-radius: 4px;
    font-family: inherit;
    color: var(--text-primary);
    font-size: $font-sm-2;
    position: relative;
  }

  label {
    font-size: $font-xs;
    color: var(--label-color);
    font-weight: $font-weight-bold;
  }

  textarea {
    resize: none;
    line-height: 2.3;
  }

  input:focus,
  textarea:focus {
    border: 1px solid $purple-dark;
    outline: none;
  }

  .modal-btn--secondary {
    button {
      width: 100%;
      text-align: center;
      background-color: var(--btn-secondary-bg);
      color: var(--btn-secondary-color);
      font-size: $font-sm-2;
      border-radius: 100px;
    }
  }

  button.save-changes {
    width: 100%;
    text-align: center;
    background-color: var(--btn-primary-bg);
    color: $white;
    font-size: $font-sm-2;
    border-radius: 100px;
  }
}
