.theme-switcher--container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--themeswitch-bg);
  position: absolute;
  bottom: 0;
  margin: 0.5rem 0 0.5rem 0;
  left: 10%;
  right: 10%;
  border-radius: $base-border-radius;

  @include tablet() {
    position: static;
    margin: 0;
  }
}

.theme-switcher {
  position: relative;
  width: 40px;
  height: 20px;
  display: inline-block;

  input {
    opacity: 0;
    height: 0;
    width: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $purple-dark;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    border-radius: 100px;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 4px;
    bottom: 3px;
    background-color: $white;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    border-radius: 50%;
  }

  input:checked + .slider {
    background-color: $purple-dark;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px $purple-dark;
  }

  input:checked + .slider:before {
    transform: translateX(18px);
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
  }
}
